

@media all {
    .services-container {
        width: 100%;
        /* max-width: 1140px; */
        background: #fff url("../img/home-diagram-bg.svg") no-repeat 50% 0;
        background-size: auto 100%;
        padding: 60px 20px 125px;
        
    }

    .services-content {
        background-image: url("../img/hex-white-bg-new-custom.svg");
        width: 900px;
        height: 1100px;
        margin: 0 auto;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 838px auto;
        position: relative;

        -webkit-transition: background .3s, border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
        transition: background .3s, border .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
        -o-transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
        transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
        transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
    }

    .service-block {
        cursor: pointer;
        position: absolute;
        width: 170px;
        height: 150px;
        background: url("../img/hex-blue.svg") no-repeat 50% 50%;
        background-size: 100%;
        transition: all .2s .6s;
        z-index: 0;
    }
    .service-block-beta {
        background: url("../img/hex-blue-beta.svg") no-repeat 50% 50%;
      
    }

   

    .sms-marketing-block {
        left: 164px;
        top: 5px;
    }

    .meta-ads-block {
        left: 167px;
        top: 160px;
    }

    .gads-block {
        left: 32px;
        top: 84px;
    }


    .radio-block {
        left: 701px;
        top: 471px;
    }

    .led-block {
        left: 568px;
        top: 550px;
    }

    .television-block {
        left: 568px;
        top: 394px;
    }

    .chatbot-block {
        left: 31px;
        top: 858px;
    }

    .vocal-push-block {
        left: 166px;
        top: 936px;
    }

 

    .ussd-block {
        left: 164px;
        top: 782px;
    }

    

    .service-block-inner {
        background: url("../img/hex-blue-skew.svg") no-repeat 50% 100%;
        background-size: 0;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        transition: all .2s .6s;
    }

    .service-block-inner:before,
    .service-block-inner:after {
        content: '';
        position: absolute;
        opacity: 0;
    }

    .service-block-inner:before {
        background: url("../img/hex-white-skew.png") no-repeat 0 100%;
        background-size: contain;
        width: 180px;
        height: 116px;
        left: -6px;
        bottom: 10px;
        transform: translate3d(0, 17px, 0);
        -webkit-transform: translate3d(0, 17px, 0);
        transition: all .3s .4s;
        z-index: 0;
    }

    .service-block-inner:after {
        background: url("../img/hex-stroke.svg") no-repeat 0 100%;
        background-size: contain;
        width: 208px;
        height: 134px;
        bottom: 8px;
        left: -20px;
        transform: scale(0);
        transition: all .3s .2s;
        z-index: 1;
    }

    .service-title {
        text-align: center;
        color: #fff;
        font: 900 20px/1 "League Spartan", sans-serif;
        align-self: center;
        margin: 0 0 5px;
        position: relative;
        z-index: 2;
        transition: color .7s;
    }

    .service-desc {
        color: #4e4e4e;
        font: 400 14px/1.28 "League Spartan", sans-serif;
        position: absolute;
        opacity: 0;
        transition: opacity .1s .5s;
    }

    .service-desc span {
        position: relative;
        z-index: 2;
    }

    .service-desc.service-desc-left {
        right: calc(100% - 40px);
        padding-right: 50px;
    }

    .service-desc.service-desc-right {
        padding-left: 70px;
        left: calc(100% - 40px);
    }

    .service-desc:before {
        content: '';
        width: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        height: 40px;
        transition: width .5s 0s;
        background-size: auto 100% !important;
    }

    .service-desc.stroke-right-top:before,
    .service-desc.stroke-right-bottom:before {
        left: 0;
    }

    .service-desc.stroke-left-top:before,
    .service-desc.stroke-left-bottom:before {
        right: 0;
    }

    .service-desc.stroke-right-top:before {
        background: url("../img/stroke-right-top.svg") no-repeat 0 0;
    }

    .service-desc.stroke-right-bottom:before {
        background: url("../img/stroke-right-bottom.svg") no-repeat 0 0;
    }

    .service-desc.stroke-left-top:before {
        background: url("../img/stroke-left-top.svg") no-repeat 100% 0;
    }

    .service-desc.stroke-left-bottom:before {
        background: url("../img/stroke-left-bottom.svg") no-repeat 100% 0;
    }

    .service-desc.stroke-right-bottom,
    .service-desc.stroke-left-bottom {
        padding-top: 50px;
    }

    .service-desc.stroke-left-bottom {
        top: 140px;
        width: 275px;
        padding-left: 7px;
    }

    .service-desc.stroke-right-top {
        width: 300px;
        padding-top: 15px;
        top: -15px;
    }

    .service-desc.stroke-right-bottom {
        top: 145px;
        width: 300px;
    }

    .service-desc.stroke-left-top {
        width: 275px;
        padding-left: 7px;
        padding-top: 15px;
        top: -15px;
    }

    .service-subtitle {
        position: absolute;
        left: -120px;
        color: #004d93;
        font: bold 24px/1 'League Spartan', sans-serif;
        
        z-index: 100;
        border: 1px dashed #004d93;
        padding:10px;
        border-radius: 10px;
    }

    .service-subtitle.subtitle-automation {
        top: 17px;
    }

    .service-subtitle.subtitle-capture {
        top: 900px;
    }
    .service-subtitle.subtitle-offline {
        top: 309px;
        left: 620px;
    }

    .service-block:hover , .service-block.active  , .service-block:active {
        background-size: 0;
        transition: all .2s 0s;
        z-index: 1;
    }

    .service-block:hover .service-block-inner , .service-block.active  .service-block-inner , .service-block:active .service-block-inner {
        background-size: 100%;
        transition: all .2s 0s;
    }

    .service-block:hover .service-block-inner:before , .service-block.active  .service-block-inner:before , .service-block:active .service-block-inner:before {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transition: all .3s .3s;
    }

    .service-block:hover  .service-block-inner:after , .service-block.active  .service-block-inner:after , .service-block:active .service-block-inner:after {
        opacity: 1;
        transform: scale(1);
        transition: all .3s .5s;
    }

    .service-block:hover .service-title  , .service-block.active  .service-title , .service-block:active .service-title {
        color: #1d4371;
        transition: all .1s;
        transform: translateY(7px) skew(-30deg, 10deg);
    }

    .service-block:hover .service-desc, .service-block.active  .service-desc , .service-block:active .service-desc {
        opacity: 1;
        transition: opacity .1s .7s;
    }

    .service-block:hover .service-desc:before , .service-block.active  .service-desc:before , .service-block:active .service-desc:before {
        width: 100%;
        transition: width .5s .7s;
    }

    @media only screen and (max-width:1199px) {
        .service-subtitle {
            left: 0;
            font-size: 1.2rem;
        }

        .service-subtitle.subtitle-automation {
            top: 105px;
            left: -59px;
        }

        .service-subtitle.subtitle-capture {
            left: 0;
            top: 801px;
        }
        .service-subtitle.subtitle-offline {
            top: 297px;
            left: 617px;
        }

        .service-desc.stroke-left-top {
            right: calc(100% - 60px);
        }

        .service-desc.stroke-left-bottom {
            width: 250px;
            padding-right: 30px;
        }

        .service-desc.stroke-right-top {
            width: 260px;
            padding-left: 60px;
        }

        .service-desc.stroke-right-bottom {
            width: 260px;
            padding-left: 50px;
        }
    }

    @media only screen and (max-width:1024px) {
        .services-content {
            background-size: 100% auto;
            width: 700px;
            height: 1040px;
            margin:0 auto;
        }

        .service-block {
            width: 141px;
            height: 125px;
        }

        .service-block-inner:before {
            width: 155px;
            height: 100px;
        }

        .service-block-inner:after {
            width: 175px;
            height: 105px;
            left: -15px;
        }

     

        .sms-marketing-block {
            left: 112px;
            top: 5px;
        }

        .meta-ads-block {
            left: 111px;
            top: 132px;
        }

        .gads-block {
            left: 226px;
            top: 71px;
        }

        

        .radio-block {
            left: 337px;
            top: 394px;
        }

        .led-block {
            left: 448px;
            top: 459px;
        }

        .television-block {
            left: 449px;
            top: 329px;
        }

        .chatbot-block {
            left: 220px;
            top: 717px;
        }

        .vocal-push-block {
            left: 112px;
            top: 782px;
        }

    

        .ussd-block {
            left: 112px;
            top: 652px;
        }

        .service-title {
            font-size: 18px;
        }

        .service-desc {
            font-size: 12px;
        }

        .service-desc:before {
            height: 30px;
        }

        .service-desc.stroke-right-bottom,
        .service-desc.stroke-left-bottom {
            padding-top: 40px;
        }

        .service-desc.stroke-left-bottom {
            top: 117px;
            width: 215px;
            right: calc(100% - 40px);
        }

        .service-desc.stroke-right-bottom {
            top: 120px;
            width: 210px;
            padding-left: 35px;
        }

        .service-desc.stroke-left-top {
            width: 205px;
            padding-right: 30px;
            right: calc(100% - 40px);
        }

        .service-desc.stroke-right-top {
            width: 225px;
        }

        .service-subtitle.subtitle-capture {
            top: 753px;
            left: 0px;
        }
        .service-subtitle.subtitle-offline {
            top: 264px;
            left: 521px;
        }
    }

    @media only screen and (max-width:768px) {
        .services-content {
            width: 440px;
            height: 700px;
            margin: 0 auto;
        }

        .service-block {
            width: 91px;
            height: 80px;
        }

     

        .sms-marketing-block {
            left: 72px;
            top: 4px;
        }

        .meta-ads-block {
            left: 73px;
            top: 85px;
        }

        .gads-block {
            left: 144px;
            top: 46px;
        }

        .radio-block {
            left: 215px;
            top: 253px;
        }

        .led-block {
            left: 288px;
            top: 295px;
        }

        .television-block {
            left: 289px;
            top: 212px;
        }

        .chatbot-block {
            left: 143px;
            top: 461px;
        }

        .vocal-push-block {
            left: 72px;
            top: 503px;
        }

    

        .ussd-block {
            left: 72px;
            top: 420px;
        }


        .service-title {
            font-size: 12px;
        }

        .service-block-inner:before {
            width: 100px;
            height: 65px;
            bottom: 5px;
        }

        .service-block-inner:after {
            width: 108px;
            height: 65px;
            left: -10px;
        }

        .service-desc:before {
            height: 25px;
        }

        .service-desc {
            top: -10px;
            width: 150px;
            font-size: 10px;
            padding-top: 10px;
        }

        .service-desc.stroke-right-bottom,
        .service-desc.stroke-left-bottom {
            padding-top: 25px;
        }

        .service-desc.stroke-left-bottom {
            top: 70px;
            width: 140px;
            padding-right: 15px;
            padding-top: 30px;
            right: calc(100% - 15px);
        }

        .service-desc.stroke-left-top {
            width: 140px;
            padding-top: 10px;
            right: calc(100% - 30px);
        }

        .service-desc.stroke-right-bottom {
            top: 80px;
            width: 150px;
            left: calc(100% - 60px);
            padding-left: 20px;
            padding-top: 30px;
        }

        .service-desc.stroke-right-top {
            width: 200px;
            padding-left: 50px;
            padding-top: 10px;
        }

        .service-subtitle {
            left: -40px;
            font-size: 14px;
        }

        .service-subtitle.subtitle-capture {
            top: 478px;
            left: -9px;
        }
        .service-subtitle.subtitle-offline {
            top: 274px;
            left: 362px;
        }

        .service-subtitle.subtitle-automation {
            top: 0;
            left: 158px;
            
        }
    }

    @media only screen and (max-width:540px) {
        .services-content {
            transform: scale(.7);
            -webkit-transform: scale(.7);
            left: -70px;
        }
    }
}